<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Context</th>
      <th>Alarm</th>
      <th>User icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.context %></td>
        <td><%= post.alarm %></td>
        <td><%= post.user_icon %></td>
        <td><%= link_to 'Show', post %></td>
        
        <% if not current_user.is_responsed?(post) %>
        <td><%= link_to "깨워줄게요", post_response_path(post), method: :post %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>



