<p id="notice"><%= notice %></p>

<p>
  <strong>Context:</strong>
  <%= @post.context %>
</p>

<p>
  <strong>Alarm:</strong>
  <%= @post.alarm %>
</p>

<p>
  <strong>User icon:</strong>
  <%= @post.user_icon %>
</p>

<%= link_to "깨워줄게요", post_response_path(@post), method: :post %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
