<p id="notice"><%= notice %></p>

<p>
  <strong>Context:</strong>
  <%= @post.context %>
</p>

<p>
  <strong>Alarm:</strong>
  <%= @post.alarm %>
</p>

<p>
  <strong>User icon:</strong>
  <%= @post.user_icon %>
</p>

<% if not current_user.is_responsed?(@post) %>
  <%= link_to "깨워줄게요", post_response_path(@post), method: :post %>
<% end %>

<% if current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  
<% end %>

<%= link_to 'Back', posts_path %>
